# compiled output
dist/
node_modules/

# dotenv
.env

# test outputs
coverage/
*.log

# system files
.DS_Store

# VSCode settings
.vscode/

# Jest cache
jest-cache/
jest-test-results.json

# TypeScript cache
*.tsbuildinfo

uploads/

output/

src/tests/output/
src/tests/fixtures/

dist/

Thumbs.db


